html, body {
	margin: 0;
	padding: 0;
	color: #4d4d4d;
	font-family: Arial, Helvetica, sans-serif;
	/*background-color: #6d6e70;*/
	background-size: contain;
	background-image: url("flowers2.jpg");

}

.ng-cloak {
    display: none !important;
}

h1 {
	font-size: 3em;
	margin-left: 30%;
}

.container-div {
	margin: 0 auto;
	width: 70%;
	height: 1000px;
	border-left: solid 3px gray;
	padding-bottom: 20px;
	/*background-color: #fff;*/
	background-image: url("paper.gif");
	background-size: contain;
}

.heading-div {
	margin-left: 20px;
}

.input-div {
	margin-left: 60px;
}

.input-div input {
	width: 40%;
	height: 26px;
	border: none;
	border-bottom: #4d4d4d solid 2px;
	font-size: 1.10em;
	font-weight: bolder;
	color: blue;
	margin: 0 20px 20px 10px;
}

.input-div label {
	font-size: 1.25em;
	font-weight: bold;
}

.input-div button {
	font-size: 1.1em;
	height: 30px;
	color: #fff;
	border: solid 1px #3385ff;
	border-radius: 4px;
	background-color:#3385ff;
}

.input-div button:hover {
	font-size: 1.1em;
	height: 30px;
	color: #fff;
	border: solid 1px #3385ff;
	border-radius: 4px;
	background-color:  #80b3ff ;
}

.hr {
	width: 79%;
	margin: 5px 0 40px 53px;
}

p {
	margin-left: 20px;
}

#list-item {
	margin: 7px 0 7px 20px;
	font-size: 1.3em;
	font-weight: bold;
}

#checkbox {
	height: 18px;
	width: 18px;
}

.delete-button {
	position: relative;
	/*bottom: 4px;*/
	left: 10px;
	color: #fff;
	background-color: #ff4d4d;
	border: none;
	border-radius: 3px;
}

table {
	width: 77.5%;
	margin-left: 60px;
}

td {

	border-bottom: solid gray 1px;
	/*border-left: solid gray 1px;*/
	font-weight: bold;
	font-size: 1.5em;
	padding: 5px 0 5px 0;
	margin-top: 4px;
}

th {
	border: solid black 1px;
}